In [1]:
import sklearn
print('The scikit-learn version is {}.'.format(sklearn.__version__))

The scikit-learn version is 0.19.1.

<div class="alert alert-block alert-info">
Version should be greater than or equal to 0.19.1
</div>

In [2]:
#External Libs
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import classification_report

#External Algos
from sklearn.model_selection import train_test_split, GridSearchCV

#Custom Libs
from process import getDataset

#For display

from IPython.display import HTML, display
import tabulate

# Fetch Dataset

In [3]:
#Fetch Dataset
hr = getDataset('HR_comma_sep.csv')
# hr = pd.DataFrame(hr['data'],columns = hr['headers']).convert_objects(convert_numeric=True)
hr = pd.DataFrame(hr['data'],columns = hr['headers']).infer_objects()
print("DataSet:")
hr

DataSet:

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.8,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
5,0.41,0.5,2,153,3,0,1,0,sales,low
6,0.1,0.77,6,247,4,0,1,0,sales,low
7,0.92,0.85,5,259,5,0,1,0,sales,low
8,0.89,1,5,224,5,0,1,0,sales,low
9,0.42,0.53,2,142,3,0,1,0,sales,low
10,0.45,0.54,2,135,3,0,1,0,sales,low
11,0.11,0.81,6,305,4,0,1,0,sales,low
12,0.84,0.92,4,234,5,0,1,0,sales,low
13,0.41,0.55,2,148,3,0,1,0,sales,low
14,0.36,0.56,2,137,3,0,1,0,sales,low
15,0.38,0.54,2,143,3,0,1,0,sales,low
16,0.45,0.47,2,160,3,0,1,0,sales,low
17,0.78,0.99,4,255,6,0,1,0,sales,low
18,0.45,0.51,2,160,3,1,1,1,sales,low
19,0.76,0.89,5,262,5,0,1,0,sales,low
20,0.11,0.83,6,282,4,0,1,0,sales,low
21,0.38,0.55,2,147,3,0,1,0,sales,low
22,0.09,0.95,6,304,4,0,1,0,sales,low
23,0.46,0.57,2,139,3,0,1,0,sales,low
24,0.4,0.53,2,158,3,0,1,0,sales,low
25,0.89,0.92,5,242,5,0,1,0,sales,low
26,0.82,0.87,4,239,5,0,1,0,sales,low
27,0.4,0.49,2,135,3,0,1,0,sales,low
28,0.41,0.46,2,128,3,0,1,0,accounting,low
29,0.38,0.5,2,132,3,0,1,0,accounting,low
...,...,...,...,...,...,...,...,...,...,...
14969,0.43,0.46,2,157,3,0,1,0,sales,medium
14970,0.78,0.93,4,225,5,0,1,0,sales,medium
14971,0.39,0.45,2,140,3,0,1,0,sales,medium
14972,0.11,0.97,6,310,4,0,1,0,accounting,medium
14973,0.36,0.52,2,143,3,0,1,0,accounting,medium
14974,0.36,0.54,2,153,3,0,1,0,accounting,medium
14975,0.1,0.79,7,310,4,0,1,0,hr,medium
14976,0.4,0.47,2,136,3,0,1,0,hr,medium
14977,0.81,0.85,4,251,6,0,1,0,hr,medium
14978,0.4,0.47,2,144,3,0,1,0,hr,medium
14979,0.09,0.93,6,296,4,0,1,0,technical,medium
14980,0.76,0.89,5,238,5,0,1,0,technical,high
14981,0.73,0.93,5,162,4,0,1,0,technical,low
14982,0.38,0.49,2,137,3,0,1,0,technical,medium
14983,0.72,0.84,5,257,5,0,1,0,technical,medium
14984,0.4,0.56,2,148,3,0,1,0,technical,medium
14985,0.91,0.99,5,254,5,0,1,0,technical,medium
14986,0.85,0.85,4,247,6,0,1,0,technical,low
14987,0.9,0.7,5,206,4,0,1,0,technical,low
14988,0.46,0.55,2,145,3,0,1,0,technical,low
14989,0.43,0.57,2,159,3,1,1,0,technical,low
14990,0.89,0.88,5,228,5,1,1,0,support,low
14991,0.09,0.81,6,257,4,0,1,0,support,low
14992,0.4,0.48,2,155,3,0,1,0,support,low
14993,0.76,0.83,6,293,6,0,1,0,support,low
14994,0.4,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

# PreProcessing

In [4]:
#Encode Salary
salaryEncoder = LabelEncoder()
encodedSalary = salaryEncoder.fit_transform(hr['salary'])

#Representation in Encoder
table=[]
for i in list(salaryEncoder.classes_):
    table.append([i,salaryEncoder.transform([i])])

display(HTML(tabulate.tabulate(table, headers=['Class', 'Label'],tablefmt='html')))

In [5]:
#Create datasets
# X contains 
# satisfaction_level
#,last_evaluation
#,number_project
#,average_montly_hours
#,time_spend_company
#,Work_accident
#,promotion_last_5years
#,salary
x = hr.drop(columns = ['left','sales'])#.infer_objects()
#Y contains Left
y = pd.to_numeric(hr['left'].values)

In [6]:
#Replace salary with it's encoded values
x['salary'] = encodedSalary

In [7]:
print("Encoded Inputs: ")
x

Encoded Inputs:

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,salary
0,0.38,0.53,2,157,3,0,0,1
1,0.8,0.86,5,262,6,0,0,2
2,0.11,0.88,7,272,4,0,0,2
3,0.72,0.87,5,223,5,0,0,1
4,0.37,0.52,2,159,3,0,0,1
5,0.41,0.5,2,153,3,0,0,1
6,0.1,0.77,6,247,4,0,0,1
7,0.92,0.85,5,259,5,0,0,1
8,0.89,1,5,224,5,0,0,1
9,0.42,0.53,2,142,3,0,0,1
10,0.45,0.54,2,135,3,0,0,1
11,0.11,0.81,6,305,4,0,0,1
12,0.84,0.92,4,234,5,0,0,1
13,0.41,0.55,2,148,3,0,0,1
14,0.36,0.56,2,137,3,0,0,1
15,0.38,0.54,2,143,3,0,0,1
16,0.45,0.47,2,160,3,0,0,1
17,0.78,0.99,4,255,6,0,0,1
18,0.45,0.51,2,160,3,1,1,1
19,0.76,0.89,5,262,5,0,0,1
20,0.11,0.83,6,282,4,0,0,1
21,0.38,0.55,2,147,3,0,0,1
22,0.09,0.95,6,304,4,0,0,1
23,0.46,0.57,2,139,3,0,0,1
24,0.4,0.53,2,158,3,0,0,1
25,0.89,0.92,5,242,5,0,0,1
26,0.82,0.87,4,239,5,0,0,1
27,0.4,0.49,2,135,3,0,0,1
28,0.41,0.46,2,128,3,0,0,1
29,0.38,0.5,2,132,3,0,0,1
...,...,...,...,...,...,...,...,...
14969,0.43,0.46,2,157,3,0,0,2
14970,0.78,0.93,4,225,5,0,0,2
14971,0.39,0.45,2,140,3,0,0,2
14972,0.11,0.97,6,310,4,0,0,2
14973,0.36,0.52,2,143,3,0,0,2
14974,0.36,0.54,2,153,3,0,0,2
14975,0.1,0.79,7,310,4,0,0,2
14976,0.4,0.47,2,136,3,0,0,2
14977,0.81,0.85,4,251,6,0,0,2
14978,0.4,0.47,2,144,3,0,0,2
14979,0.09,0.93,6,296,4,0,0,2
14980,0.76,0.89,5,238,5,0,0,0
14981,0.73,0.93,5,162,4,0,0,1
14982,0.38,0.49,2,137,3,0,0,2
14983,0.72,0.84,5,257,5,0,0,2
14984,0.4,0.56,2,148,3,0,0,2
14985,0.91,0.99,5,254,5,0,0,2
14986,0.85,0.85,4,247,6,0,0,1
14987,0.9,0.7,5,206,4,0,0,1
14988,0.46,0.55,2,145,3,0,0,1
14989,0.43,0.57,2,159,3,1,0,1
14990,0.89,0.88,5,228,5,1,0,1
14991,0.09,0.81,6,257,4,0,0,1
14992,0.4,0.48,2,155,3,0,0,1
14993,0.76,0.83,6,293,6,0,0,1
14994,0.4,0.57,2,151,3,0,0,1
14995,0.37,0.48,2,160,3,0,0,1
14996,0.37,0.53,2,143,3,0,0,1
14997,0.11,0.96,6,280,4,0,0,1
14998,0.37,0.52,2,158,3,0,0,1

In [8]:
# Feature Scaling
sc = StandardScaler()
x = sc.fit_transform(x)

In [9]:
print("Feature Scaled Inputs: ")
x

Feature Scaled Inputs:

array([[-0.93649469, -1.08727529, -1.46286291, ..., -0.41116529,
        -0.14741182, -0.55495458],
       [ 0.75281433,  0.84070693,  0.97111292, ..., -0.41116529,
        -0.14741182,  1.04300352],
       [-2.02247906,  0.95755433,  2.59376348, ..., -0.41116529,
        -0.14741182,  1.04300352],
       ...,
       [-0.97671633, -1.08727529, -1.46286291, ..., -0.41116529,
        -0.14741182, -0.55495458],
       [-2.02247906,  1.42494396,  1.7824382 , ..., -0.41116529,
        -0.14741182, -0.55495458],
       [-0.97671633, -1.14569899, -1.46286291, ..., -0.41116529,
        -0.14741182, -0.55495458]])

# CrossValidation

In [10]:
# Splitting the dataset into the Training set and Test set
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)

In [11]:
#Calculating Accuracy of any model on the present data
def evaluate_on_test_data(tests, predictions) :
    correct_classifications = 0
    for i in range(len(tests)) :
        if predictions[i] == tests[i] :
            correct_classifications += 1
    accuracy = 100*correct_classifications/len(tests)
    return accuracy

# Training

### Most Efficient RBF Classifier

In [ ]:
#Most Efficient Classifier - Based on previous Analysis
from sklearn.svm import SVC
classifier = SVC(C=10,kernel='rbf', gamma=12)
classifier.fit(x_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(x_test)
print("Accuracy of the SVC model with kernel:%s  =  %s%%" % (classifier.kernel,evaluate_on_test_data(y_test, y_pred)))

Accuracy of the SVC model with kernel:rbf  =  98.34666666666666%

### RBF Classifier Hyperparameters search

In [ ]:
#Find the most efficient Classifier
Cs = [0.001, 0.01, 0.1, 1, 10, 12, 20, 100]
gammas = [0.001, 0.01, 0.1, 0.5, 1, 2, 2.5, 10, 12, 14, 16]
param_grid = {'C': Cs, 'gamma' : gammas}
grid_search = GridSearchCV(SVC(kernel='rbf'), param_grid)
grid_search.fit(x_train, y_train)

#Print results for the most efficient classifier
y_true, y_pred = y_test, grid_search.predict(x_test)
print(classification_report(y_true, y_pred))

#Print accuracy
print("Accuracy of the SVC model with kernel:rbf  =  %s%%" % (evaluate_on_test_data(y_test, y_pred)))

In [ ]:
grid_search.best_params_

In [ ]:
grid_search.grid_scores_

In [ ]:
Gammas = [0,0.1,0.5,1.2,3.4,4.5,5,5.1,5.2,5.3,5.4]
scores = [x[1] for x in grid_search.grid_scores_]
scores = np.array(scores).reshape(len(Cs), len(gammas))

for ind, i in enumerate(Cs):
    plt.plot(gammas, scores[ind], label='C: ' + str(i))
plt.legend()
plt.xlabel('Gamma')
plt.ylabel('Mean score')
plt.xlim(0,0.02)
plt.show()

In [ ]:
grid_search.get_params()

In [ ]:
# https://stackoverflow.com/questions/37161563/how-to-graph-grid-scores-from-gridsearchcv
# https://stackoverflow.com/questions/19055729/decision-boundary-from-sklearn
# https://chrisalbon.com/machine_learning/support_vector_machines/svc_parameters_using_rbf_kernel/
# http://scikit-learn.org/stable/auto_examples/svm/plot_iris.html
# https://medium.com/ibm-data-science-experience/markdown-for-jupyter-notebooks-cheatsheet-386c05aeebed

In [ ]:
# http://scikit-learn.org/stable/tutorial/statistical_inference/putting_together.html
# http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html
# https://chrisalbon.com/machine_learning/preprocessing_structured_data/convert_pandas_categorical_column_into_integers_for_scikit-learn/